#main {
    background-color: rgb(135, 216, 216);
    text-align: center;
}

#title {
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;



}

#title-description {
     text-align: center;
     font-family: 'Times New Roman', Times, serif;

}
#img-div #image
 {
    border-color: rgb(43, 39, 39);
    width: 750px;
    height: 350px;
    border: 50px solid rgb(121, 111, 111)
}

#img-caption {

    font-style: italic;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(160, 231, 213);
    color: white;
    display: inline-block;
    color: black;
    
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    border: 2px solid black;
    line-height: 1;
    text-align: left;
    padding: 0 0 0 25px;
    font-size: 30px;;
    
    
}

dl{
    font-weight:bold;
    font-size: 19px;
    font-style: italic;
}